/* font */
/* 태그용 */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
}
#root{
    height: 100%;
}

body{
    font-family: 'MaruBuri-Regular', serif;
    height: 100%;
}

/* header */
.header{
    text-align: center;
    margin: 100px 0 100px 0;
}
/* content */
.menu{
    font-family: 'MaruBuri-Regular', serif;
    text-align: center;
    margin: 0 0 50px 0;
}

.menu > a{
    text-decoration: none;
    font-size: 14px;
    color: #bbbbbb;
    margin: 0 10px 0 10px;
}

.menu > a:hover{
    color: #000000;
}


.menu > a.on{
    color: #000000;
}

.container{
    margin-top: 50px;
}

.container-md{
    margin-top: 50px;
}

.contact_desc a{
    text-decoration: none;
    color: #000;
}

.contact_img{
    margin-bottom: 30px;
}
.contact_desc{
    margin-left: 15px;
    float: left;
    text-align: left;
    font-size: 14px;
    font-family: 'InfinitySans-RegularA1', serif;
}

.intro{
    margin-top: 30px;
}

.modal.on {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: auto;

}

.modal-image{
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
}

.fade-in{
    background-color: rgba(255, 255, 255, 0.5);
}

/* footer */
.footer{
    font-family: 'RIDIBatang', serif;
    font-size: 14px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px 0;
    margin-top: 20px;
}